{% extends "includes/base.twig" %}
{% block page_title %}{% endblock %}
{% block page_head %}{% endblock %}
{% block page_body %}
    {% include "includes/navbar.twig" %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Manage Clients</h4>
                </div>
                <div class="col-lg-6 text-right">
                    <a href="/admin/client/add" class="btn btn-primary">Add Client</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Services</th>
                                <th>Type</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ client.id|e }}</td>
                                    <td>{{ client.email|e }}</td>
                                    <td>2(2)</td>
                                    <td>user</td>
                                    <td>{{ client.created_at }}</td>
                                    <td><a href="/admin/client/edit/{{ client.id|e }}">Manage</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}