{% extends "includes/base.twig" %}
{% block page_title %}{% endblock %}
{% block page_head %}{% endblock %}
{% block page_body %}
    {% include "includes/navbar.twig" %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Add New Client</h4>
                </div>
                <div class="col-lg-6 text-right">
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form action="#" method="POST">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="email" name="email" class="form-control" value="{{ form.email|e }}">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" name="password_confirm" class="form-control">
                            </div>
                            <div class="form-group">
                                <span class="text-danger">{{ form.error }}</span>
                            </div>
                            <button class="btn btn-primary">Create Client</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}