{% extends "includes/base.twig" %}
{% block page_title %}{% endblock %}
{% block page_head %}{% endblock %}
{% block page_body %}
    {% include "includes/navbar.twig" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include "includes/admin_sidebar.twig" %}
            </div>
            <div class="col-lg-9">

            </div>
        </div>
    </div>
{% endblock %}