<div class="card">
    <div class="card-body">
        <h6>Shortcuts</h6>
        <div>
            <div><a href="/admin/client/add">Add Client</a></div>
            <div><a href="/admin/product/add">Add Product</a></div>
        </div>
    </div>
</div>