<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block page_title %}{% endblock %}</title>
        {% block page_head %}{% endblock %}
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {% block page_body %}{% endblock %}
    </body>
</html>