{% extends "includes/base.twig" %}
{% block page_title %}{% endblock %}
{% block page_head %}{% endblock %}
{% block page_body %}
    {% include "includes/navbar.twig" %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>{{ product.name|e }}</h4>
                </div>
                <div class="col-lg-6 text-right">
                
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h4>Billing Cycle</h4>
                <table class="table table-borderless">
                    <tr>
                        <td><input type="radio" name="billing"> $5.00 CAD Monthly</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="billing"> $5.00 CAD Monthly</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <h4>Order Summary</h4>
                <div class="card mb-3">
                    <div class="card-body">
                        <table class="table mt-0 mb-0">
                            <tr>
                                <td>{{ product.name|e }}</td>
                                <td class="text-right">$5.00</td>
                            </tr>
                            <tr>
                                <td>Setup Fee:</td>
                                <td class="text-right">$0.00</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-right">Total Due Today: <b>$5.00</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-center">
                    <form action="" method="POST">
                        <button class="btn btn-success mb-3">Check Out</button>
                    </form>
                    <p>After clicking check out you will be redirected to the product/service's invoice.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}